<mat-toolbar color="primary">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <a href="" [routerLink]="['/event-dashboard']">
          <h1 class="mr-3" style="color: white;">Events</h1>
        </a>
      </div>
      <div class="col-3">
        <a href="" [routerLink]="['/attendees']">
          <h1 class="mr-3" style="color: white;">Attendees</h1>
        </a>
      </div>
      <div class="col-3">
        <h1 class="mr-3">Register for a great event!</h1>
      </div>
      <div class="col-3">
        <h1 class="mr-3"> Welcome {{ attendee.firstName + " " + attendee.lastName }}</h1>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="row mb-2" style="background-color: black;">
  <div class="container">
    <div class="row">
      <img src="../assets/images/contoso-logo.jpg" style="border: 0em !important;">
      <img src="../assets/images/brand.jpg" style="border: 0em !important;">
    </div>
  </div>
</div>

<router-outlet></router-outlet>